@use "../default";

@mixin button-invite($fs: 0.8em, $width: 2.5vw) {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: default.$White;
    font-weight: default.$fw700;
    font-size: $fs;
    background-image: linear-gradient(
      to right,
      default.$Lime-Green,
      default.$Bright-Cyan
    );
    border-radius: 40px;
    padding: 1.75vh $width;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    opacity: 0.6;
  }
}
